<dialog id="gh-name-dialog" aria-labelledby="dialog-title" aria-describedby="dialog-description">
  <h3 id="dialog-title">Please enter your GitHub username.</h3>
  <p id="dialog-description">This site uses your GitHub username to create some custom links to project repos.</p>
  <form method="dialog">
    <div>
    <input type="text" id="gh-name-input"/>
    </div>
    <div>
      <button value="cancel" id="closeDialog">Cancel</button>
      <button id="confirmBtn" value="default">Confirm</button>
    </div>
  </form>
</dialog>
<output></output>
